<div ng-include="'components/navbar/navbar.html'"></div>

<section id="content" class="container clearfix">
  <div ng-repeat="person in people track by $index">
    <div class="team-member one-fourth" ng-class="{'last': $index%4===3}">

      <img gravatar-src-once="person.email" gravatar-size="220" class="img-responsive img-rounded" alt="{{ person.name }}">
      <div class="content">

        <h4 class="name">{{ person.name }}</h4>

        <span class="job-title">{{ person.title }}</span>

        <span ng-repeat="skill in person.skillsArray track by $index"><span ng-hide="$index > 2" class="btn btn-success btn-sm mb10">{{ skill }}, </span></span>

      </div><!-- end .content -->
    </div><!-- end .team-member.one-fourth -->
    <div ng-show="$index%4===3" class="clearfix"></div>
  </div>
</section>

<div ng-include="'components/footer/footer.html'"></div>
