$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$c1: #2980b9;
$c2: #27ae60;
$c3: #011627;
$c4: #f1e9db;
$c5: #5db7de;
$cw: $c4;
