<header id="header" class="container clearfix" ng-controller="NavbarCtrl">

  <a href="/" id="logo">
    <img src="/assets/images/logo.png" style="width: 100px; margin: 15px 10px 0px;" alt="Garaj">
    <div ng-show="state.open" class="ml10">Garaj is open! {{ state.headcount }} people inside.</div>
    <div ng-hide="state.open" class="ml10 insignificant">Garaj is currently closed.</div>
  </a>

  <nav id="main-nav">

    <ul>
      <li ng-class="{'current': isActive('/people')}">
        <a href="/people" data-description="Creative minds">People</a>
      </li>
      <li ng-class="{'current': contains('/projects')}">
        <a href="/projects" data-description="Work we are proud of">Projects</a>
        <ul>
          <li ng-class="{'current': isActive('/projects/smart-lock')}"><a href="/projects/smart-lock">Smart Lock</a></li>
          <li ng-class="{'current': isActive('/projects/the-button')}"><a href="/projects/the-button">The Button</a></li>
          <li ng-class="{'current': isActive('/projects/diy-lego-arm')}"><a href="/projects/diy-lego-arm">DIY Lego Arm</a></li>
        </ul>
      </li>
      <li ng-class="{'current': isActive('/events')}">
        <a href="/events" data-description="Enquire here">Events</a>
      </li>
      <li ng-class="{'current': isActive('/blog')}">
        <a href="/blog" data-description="What we think">Blog</a>
      </li>
      <li ng-class="{'current': isActive('/contact')}">
        <a href="/contact" data-description="Enquire here">Contact</a>
      </li>
      <li ng-class="{'current': isActive('/sponsors')}">
        <a href="/sponsors" data-description="Enquire here">Sponsors</a>
      </li>
    </ul>

  </nav><!-- end #main-nav -->

</header><!-- end #header -->